body {
    background-color: lightblue;
    color:white;
    text-align: center;
    font-size: 25px;
}

.app {
    background-color: cornflowerblue;
    margin: 30px;
}
.app .contactImage {
    margin: 50px;
}
.app .contactForm {
    text-align: center;
    padding: 30px
}
.app .a {
    color:white;
}